nav{
    background-color: red;

    padding: 10px;

}

body,html{
    margin-top: 0;
    padding-top: 0;
    margin-left: 0;
    margin-right: 0;
}
#logo{

    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
